<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <link rel="stylesheet" href="../public/css/post.css">
    <script src="../public/js/dashboard.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- top nav bar-->
    <div id="dashboard__navbar--top">
            <li id="nav__logo"><a href="index.html" name="CIGAS_Logo" alt="CIGAS_Logo">CIGAS</a></li>
            <li id="nav__account"><a href="profile.html"><i class='bx bxs-user-circle bx-md dashboard__item'></i></a></li>
    </div>
    <!--main nav bar-->
    <nav id="dashboard__structure">
        <ul>
            <li id="dashboard__button"><a href="dashboard.html"><i class='bx bxs-layer bx-md' style='color:#bf9751;'></i></a></li>
            <li><a href="dashboard.html" target="_self"><i class='bx bx-notification bx-md' style="color:var(--secundary-color)"></i></a></li>
            <li><a href="homework.html" target="_self"><i class='bx bxs-backpack bx-md'></i></a></li>
            <li><a href="timesheet.html"  target="_self"><i class='bx bx-calendar bx-md'></i></a></li>
            <li id="dashboard__button--logout"><a href=""><i class='bx bx-log-out bx-md dashboard__item'></i></a></li>
        </ul>
    </nav>
    <main id="dashboard__main">
        <div class="dashboard__main--nav">
                notification
        </div>
        <span class="dashboard__main--button">
            <button onclick="createPost()" class="main__button">New post </button>
        </span>
        <div class="main__body">
            
        </div>
    </main>
</body>
</html>