<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <script src="../public/js/dashboard.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- top nav bar-->
    <div id="dashboard__navbar--top">
            <li id="nav__logo"><a href="index.html" name="CIGAS_Logo" alt="CIGAS_Logo">CIGAS</a></li>
            <li id="nav__account"><a href="profile.html"><i class='bx bxs-user-circle bx-md dashboard__item'></i></a></li>
    </div>
    <!--main nav bar-->
    <nav id="dashboard__structure">
        <ul>
            <li id="dashboard__button"><a href="dashboard.html"><i class='bx bxs-layer bx-md' style='color:#bf9751;'></i></a></li>
            <li><a href="dashboard.html" target="_self"><i class='bx bx-notification bx-md' style=""></i></a></li>
            <li><a href="homework.html" target="_self"><i class='bx bxs-backpack bx-md'></i></a></li>
            <li><a href="timesheet.html"  target="_self"><i class='bx bx-calendar bx-md'></i></a></li>
            <li id="dashboard__button--logout"><a href=""><i class='bx bx-log-out bx-md dashboard__item'></i></a></li>
        </ul>
    </nav>
    <main id="dashboard__main">
       <div class="main__post">
        <div class="post__header">
            <h1>Mathematic</h1> 
            <p>
                author: Marcus Paulo de Queiroz Amorim
            </p>
            <p>
                Date:01/05/2024
            </p>
            <p>
                Last update: 10/09/22
            </p>
            <hr>
        </div>
        <div class="post__body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Pellentesque habitant morbi tristique senectus. Donec et odio pellentesque diam volutpat commodo sed egestas. Odio ut sem nulla pharetra. Magna eget est lorem ipsum. In tellus integer feugiat scelerisque. Tellus mauris a diam maecenas sed. 
            </p>
            <p>
                Vulputate dignissim suspendisse in est ante in. Dui id ornare arcu odio ut sem nulla. A lacus vestibulum sed arcu. Elementum curabitur vitae nunc sed velit dignissim sodales ut. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in.
            </p>
        </div>

       </div>
    </main>
</body>
</html>