<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timesheet</title>
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <script src="../public/js/dashboard.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/timesheet.css">
</head>
<body>
    <!-- top nav bar-->
    <div id="dashboard__navbar--top">
            <li id="nav__logo"><a href="index.html" name="CIGAS_Logo" alt="CIGAS_Logo">CIGAS</a></li>
            <li id="nav__account"><a href="profile.html"><i class='bx bxs-user-circle bx-md dashboard__item'></i></a></li>
    </div>
    <!--main nav bar-->
    <nav id="dashboard__structure">
        <ul>
            <li id="dashboard__button"><a href="dashboard.html"><i class='bx bxs-layer bx-md' style='color:#bf9751'></i></a></li>
            <li><a href="dashboard.html" target="_self"><i class='bx bx-notification bx-md'></i></a></li>
            <li><a href="homework.html" target="_self"><i class='bx bxs-backpack bx-md'></i></a></li>
            <li><a href="timesheet.html"  target="_self"><i class='bx bx-calendar bx-md' style="color: var(--secundary-color);"></i></a></li>
            <li id="dashboard__button--logout"><a href=""><i class='bx bx-log-out bx-md dashboard__item'></i></a></li>
        </ul>
    </nav>
    <main id="dashboard__main">
        <div class="dashboard__main--nav">
                timesheet
        </div>
        <div class="main__body">
            <table>
                <tr>
                    <th>Monday</th>
                    <th>Professor</th>
                    <th>Class</th>
                    <th>Tuesday</th>
                    <th>Professor</th>
                    <th>Class</th>
                    <th>Wednesday</th>
                    <th>Professor</th>
                    <th>Class</th>
                    <th>Thursday</th>
                    <th>Professor</th>
                    <th>Class</th>
                    <th>Friday</th>
                    <th>Professor</th>
                    <th>Class</th>
                </tr>
                <tr>
                    <td>08:00 - 09:00</td>
                    <td>Prof. A</td>
                    <td>Class 101</td>
                    <td>08:00 - 09:00</td>
                    <td>Prof. B</td>
                    <td>Class 102</td>
                    <td>08:00 - 09:00</td>
                    <td>Prof. C</td>
                    <td>Class 103</td>
                    <td>08:00 - 09:00</td>
                    <td>Prof. D</td>
                    <td>Class 104</td>
                    <td>08:00 - 09:00</td>
                    <td>Prof. E</td>
                    <td>Class 105</td>
                </tr>
                <tr>
                    <td>09:00 - 10:00</td>
                    <td>Prof. F</td>
                    <td>Class 201</td>
                    <td>09:00 - 10:00</td>
                    <td>Prof. G</td>
                    <td>Class 202</td>
                    <td>09:00 - 10:00</td>
                    <td>Prof. H</td>
                    <td>Class 203</td>
                    <td>09:00 - 10:00</td>
                    <td>Prof. I</td>
                    <td>Class 204</td>
                    <td>09:00 - 10:00</td>
                    <td>Prof. J</td>
                    <td>Class 205</td>
                </tr>
                <tr>
                    <td>10:00 - 11:00</td>
                    <td>Prof. K</td>
                    <td>Class 301</td>
                    <td>10:00 - 11:00</td>
                    <td>Prof. L</td>
                    <td>Class 302</td>
                    <td>10:00 - 11:00</td>
                    <td>Prof. M</td>
                    <td>Class 303</td>
                    <td>10:00 - 11:00</td>
                    <td>Prof. N</td>
                    <td>Class 304</td>
                    <td>10:00 - 11:00</td>
                    <td>Prof. O</td>
                    <td>Class 305</td>
                </tr>
                <tr>
                    <td>14:00 - 15:00</td>
                    <td>Prof. P</td>
                    <td>Class 401</td>
                    <td>14:00 - 15:00</td>
                    <td>Prof. Q</td>
                    <td>Class 402</td>
                    <td>14:00 - 15:00</td>
                    <td>Prof. R</td>
                    <td>Class 403</td>
                    <td>14:00 - 15:00</td>
                    <td>Prof. S</td>
                    <td>Class 404</td>
                    <td>14:00 - 15:00</td>
                    <td>Prof. T</td>
                    <td>Class 405</td>
                </tr>
                <tr>
                    <td>15:00 - 16:00</td>
                    <td>Prof. U</td>
                    <td>Class 501</td>
                    <td>15:00 - 16:00</td>
                    <td>Prof. V</td>
                    <td>Class 502</td>
                    <td>15:00 - 16:00</td>
                    <td>Prof. W</td>
                    <td>Class 503</td>
                    <td>15:00 - 16:00</td>
                    <td>Prof. X</td>
                    <td>Class 504</td>
                    <td>15:00 - 16:00</td>
                    <td>Prof. Y</td>
                    <td>Class 505</td>
                </tr>
                <tr>
                    <td>16:00 - 17:00</td>
                    <td>Prof. Z</td>
                    <td>Class 601</td>
                    <td>16:00 - 17:00</td>
                    <td>Prof. AA</td>
                    <td>Class 602</td>
                    <td>16:00 - 17:00</td>
                    <td>Prof. BB</td>
                    <td>Class 603</td>
                    <td>16:00 - 17:00</td>
                    <td>Prof. CC</td>
                    <td>Class 604</td>
                    <td>16:00 - 17:00</td>
                    <td>Prof. DD</td>
                    <td>Class 605</td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>