<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>CIGAS - Homepage</title>
        <link rel="stylesheet" href="../public/css/d_style.css">
    </head>
    <body>
        
        <main>
            <!--navegation bar-->
            <nav>
                <span id="nav__logo">
                 <a href="index.html" name="CIGAS_Logo">CIGAS</a>
                </span>
                 <ul>
                     <li class="space__items">
                         <a href="index.html#slide__01" class="nav__link--underline">Home</a>
                     </li>
                     <li class="space__items">
                         <a href="index.html#slide__02" class="nav__link--underline">About Us</a>
                     </li>
     
                     <li class="space__items">
                         <a href="index.html#slide__03" class="nav__link--underline">Services</a>
                     </li>
                     
                     <li class="space__items">
                         <a href="index.html#slide__04" class="nav__link--underline">Team</a>
                     </li>
                 </ul>
             </nav>
                    <!--"Slides of site"-->
                <section id="slide__01" class="slide__structure">
                    <h2>Test Slide with parallax effect</h2>
                </section>

                <section>
                    <div class="slide__container">

                    </div>
                </section>

                <section id="slide__02" class="slide__structure">
                    <h1>Test Slide number 2</h1>
                </section>

                <div class="slide__container">

                </div>

                <section id="slide__03" class="slide__structure">
                    
                </section>

                <div class="slide__container">

                </div>

                <section id="slide__04" class="slide__structure">
                    
                </section>
                
                <section>
                <div class="slide__container">

                </div>
                </section>
        </main>
    </body>
</html>