<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Login</title>

        <link rel="stylesheet" href="../public/css/login.css">
    </head>
    <body id="login__background">
                <div class="form__container">
                    <div class="form__header">
                                <p></p>hello world
                    </div>
                    <div class="form__body">
                        <form method="POST">
                            <p>
                                <label for="user__email">Email</label>
                                <input id="user__email" type="email" placeholder="email@example.com" name="user_email" required>
                            </p>
                            <p>
                                <label for="user__password">Password</label>
                                <input id="user__password" type="password" placeholder="longpassphrase#&*233" name="user_password" required>
                            </p>

                        </form>
                    </div>
                    <div class="form__footer">
                        
                    </div>
                </div>
          <footer>
                    CIGAS Studenty &copy; 2023
         </footer>
    </body>
</html>