<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Dashboard</title>

        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/d_style.css">
    <body>
        <header>

        </header>
            <footer>
                <nav>
                    <ul id="menu__list">
                        
                        <li class="menu__item"><a href="#"><img src="../public/images/calendar.svg" class="icon__color"></a></li>
                        <li class="menu__item"><a href="#"><img src="../public/images/menl.svg" class="icon__color"></a></li>
                        <li class="menu__item"><a href="#">
                            <img src="../public/images/annoucement.svg" class="icon__color" />
                         </a></li>
                        
                    </ul>
                </nav>
            </footer>
    </body>
    
</html>
