@import url('variables.css');
@import url('componentes/footer.css');
@import url('reset.css');
@media screen and (min-width:820px){
    body{
        overflow: hidden;
    }
    #login__background{
        background-image: url('../images/bg_login.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #register__background{
        background-image: url('');
    }
    .form__container{
        min-width: 10vw;
        max-width: 28vw;
        min-height: 70vh;
        background-color: white;
        margin: 10vh auto;
        border-radius: 6%;
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.5);
        box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.5);
    }
    

    .form__header{
        height: 13vh;
        width:100%;
        border-top:0;
        border-right: 0;
        border-left: 0;
        border-bottom: 2px;
        border-color: #010D18;
        border-style: solid;
        background-color: #E0F0FF;
        text-align:center;
    }
    
    .form__container label{
        display: block;
    }

}
